:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}


h1 {
	font-size: 2.2rem;
	line-height: 1.1;
}

.app {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
    width: 50vw;
    margin-left: 25vw;
    height: 25vh;
    padding: 2px;
}

input {
	box-sizing: border-box;
    width: 50vw;
    padding: 15px;
	background: #67919210;
	border: 1px solid brown;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 150px;
	transition: all 0.5s;
	padding-left: 5%;
	color: white;
}

input:focus {
	outline: none;
	box-shadow: 0px 0px 9px brown;
}

button {
	border-radius: 8px;
	border: 1px solid brown;
	padding: 0.6rem 1.2rem;
	font-size: 1em;
	font-family: inherit;
	background: #106385e5;
	cursor: pointer;
	transition: border-color 0.25s;
}
.container {
	margin-top: 10px;
	height: 30px;
}

button:hover {
	outline: none;
	box-shadow: 0px 0px 9px brown;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
